li a {
	background-color: white;
    color: black;
    font-size: 50
}

body {
	background: url(images/background0.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}